.default-table {
  border-collapse: collapse;
  font-size: 1rem;
  width: 1000px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.default-table thead tr {
  background-color: #431a0e;
  color: #eee;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
}

.default-table th,
.default-table td {
  padding: 12px 15px;
}

.default-table tbody tr {
  border-bottom: 1px solid #eee;
}

.default-table tbody tr:nth-of-type(even) {
  background-color: #431a0e;
  color: #eee;
}


.default-table tbody tr:last-of-type {
  border-bottom: 2px solid #431a0e;
}